<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="api-fetch.js"></script>
  <script src="button.js"></script>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="styles.css">
  <title>
    <%= appName %>
  </title>
</head>

<body>
  <main>
    <button>Spotify</button>
    <button>Get top artists</button>
    <button class="save-to-pod-button">Save to pod</button>
    <ul class="top-artists"></ul>
  </main>

</body>

</html>
